@font-face {
    font-family: DINPro;
    src: url("fonts/DINPro-Regular.otf") format("opentype");
}
@font-face {
    font-family: DINPro;
    font-weight: bolder;
    src: url("fonts/DINPro-Black.otf") format("opentype");
}
@font-face {
    font-family: DINPro;
    font-weight: bold;
    src: url("fonts/DINPro-Bold.otf") format("opentype");
}
@font-face {
    font-family: DINPro;
    font-weight: lighter;
    src: url("fonts/DINPro-Light.otf") format("opentype");
}
* {
    font-family: DINPro, sans-serif;
    margin: 0;
}

/* NAV BAR STYLING */
nav {
    display: flex;
}
.hamburger-menu {
    border-top: 8px solid white;
    border-bottom: 8px solid white;
    height: 15px;
    margin: 75px 0 0 20%; 
    width: 56%;
}
.left-nav {
    display: flex;
    background-color: #221D36;
    justify-content: space-between;
    height: 180px;
    width: 80%;
}
.right-nav {
    background-color: #FE0082;
    height: 180px;
    width: 20%;
}
.login-button {
    background-color: #86898C;
    border: 0;
    color: white;
    font-family: DINPro, sans-serif;
    font-size: 28px;
    height: 70px;
    margin: 55px 55px 0 0;
    width: 250px;
}
#worldmedia-logo {
    height: 50%;
    padding: 45px 0 0 50px;
}
/* END NAVBAR STYLING */

/* LANDING DIV STYLING */
.landing-div {
    height: 930px;
    text-align: center;
}
.landing-div h2 {
    font-size: 100px;
    font-weight: 400;
}
.landing-div h4 {
    font-size: 70px;
    font-weight: 400;
    padding-top: 70px;
}
.landing-div h6 {
    font-size: 40px;
    font-weight: 400;
}
.sports-icons {
    margin-top: 100px;
    position: relative;
    width: 80%;
}
.audi-img{
    left: 200px;
    top: 640px;
    position: absolute;
}
/* END LANDING DIV STYLING */

/* START SEARCH DIV STYLING */
.search-div {
    margin: 40px 5% 0 5%;
    width: 90%;
}
.search-options {
    display: flex;
    margin-bottom: 60px;
}
.search-city, .find-map {
    font-size: 30px;
    height: 100px;
    width: 50%;
}
.search-city {
    background-color: black;
    color: white;
}
.find-map {
    background-color: white;
    color: #808080;
}
.search-bar-container p {
    font-size: 35px;
}
.search-bar {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 8px solid #FE0082;
    height: 150px;
    margin-bottom: 120px;
    margin-top: 15px;
    width: 100%;
}
.search-bar-inner {
    display: flex;
    justify-content: space-between;
    margin: 35px 5% 0 5%;
    width: 90%;
}
.search-icon {
    height: 80px;
    width: 80px;
}
#input-placeholder {
    color: #808080;
    font-size: 75px;
}
/* END SEARCH DIV STYLING */

/* START RESULTS DIV STYLING */
.results-div {
    margin: 120px 5% 0 5%;
    position: relative;
    width: 90%;
}
.event-top {
    display: flex;
    font-size: 60px;
    font-weight: 150;
    justify-content: space-between;
    letter-spacing: 0.2;
}
.event-bottom {
    display: flex;
    font-size: 30px;
    justify-content: space-between;
}
.poster-main {
    background-image: url('../img/coachella-header.jpg');
    background-size: cover;
    border-radius: 30px;
    margin-top: 40px;
    height: 600px;
    width: 100%;
}
.poster-cover {
    background-color: #EC028C;
    border-radius: 30px;
    height: 700px;
    width: 100%;
}
.poster-outercover {
    background-color: #261A42;
    border-radius: 30px;
    height: 720px;
    width: 100%;
}
.best-enjoyed {
    font-size: 20px;
    color: white;
    padding-left: 5%;
    padding-top: 62%;
    width: 250px;
}
.car-model {
    color: white;
    font-size: 30px;
    font-weight: 150;
    letter-spacing: 0.1px;
    padding-top: 3%;
    padding-left: 5%;
    width: 250px;
}
#balloon-image {
    bottom: 420px;
    left: 60%;
    position: absolute;
}
.poster-car {
    top: 450px;
    left: 335px;
    position: absolute;
    width: 600px;
}
.reserve-button {
    position: absolute;
    top: 830px;
    left: 435px;
    width: 450px;
}
